:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --black: #111111;
  --white: #edeff0;
  --dark-gray: #1c1c1c;
  --gray: #242424;
  --purple: #40367a;
  --green: #007173;
}

body {
  background-color: var(--gray);
  color: rgba(255, 255, 255, 0.87);
}

html,
body,
* {
  box-sizing: border-box;
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;
  padding: 0;
}
